/*
Theme Name: Twenty Twenty
Text Domain: twentytwenty
Version: 1.5
Requires at least: 4.7
Requires PHP: 5.2.4
Description: Our default theme for 2020 is designed to take full advantage of the flexibility of the block editor. Organizations and businesses have the ability to create dynamic landing pages with endless layouts using the group and column blocks. The centered content column and fine-tuned typography also makes it perfect for traditional blogs. Complete editor styles give you a good idea of what your content will look like, even before you publish. You can give your site a personal touch by changing the background colors and the accent color in the Customizer. The colors of all elements on your site are automatically calculated based on the colors you pick, ensuring a high, accessible color contrast for your visitors.
Tags: blog, one-column, custom-background, custom-colors, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, full-width-template, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, block-styles, wide-blocks, accessibility-ready
Author: the WordPress team
Author URI: https://wordpress.org/
Theme URI: https://wordpress.org/themes/twentytwenty/
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

All files, unless otherwise stated, are released under the GNU General Public
License version 2.0 (http://www.gnu.org/licenses/gpl-2.0.html)

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned
with others.
*/




/* Global Box-sizing
------------------------------------*/
/* {transition: all 0.5s ease-in;}*/

body { background: #f9f9f9; font-weight: 400; font-family: 'Poppins', sans-serif; font-style: normal; font-size: 16px; line-height: 30px; color: #818181; padding: 0; margin: 0px; position: relative; }
p { font-weight: 400; font-family: 'Poppins', sans-serif; font-style: normal; font-size: 16px; line-height: 30px; color: #818181; padding: 0; margin: 0 0 25px 0; }
ul { list-style: none;margin: 0; padding: 0;  }
li { list-style: none; }
h1, h2, h3, h4, h5, h6 {font-family: 'Poppins', sans-serif;}
a, span, i { display:  inline-block; }
a, a:hover, a:visited { text-decoration: none; }
a:focus, span:focus, button:focus, li, div, input, * { outline: none; }
img, a img { display: inline-block; max-width: 100%; height: auto; }
*, *:after, *:before { padding:0; margin:0; list-style:none; border:none; box-sizing:border-box; }
.clearfix:before, .gform_wrapper:before, ul:before,
.clearfix:after, .gform_wrapper:after, ul:after { content:''; display:table; }
.clearfix:after, .gform_wrapper:after, ul:after { clear:both; }
.clearfix, .gform_wrapper, ul { *zoom:1; }
.defaultBtn {padding: 0px 50px;margin: 0;font-size: 17px;line-height: 50px;color: #fff9f7;text-transform: uppercase;display: inline-block;font-weight: 400;margin-top: 35px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#443caa+1,272364+100 */ /* Old browsers */ /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /* IE6-9 */background: #deb24d;transition: all ease 0.3s;}
.defaultBtn:hover {color: #fff;background: #675221;}
.borderBtn { border: 1px solid #deb24d;; padding: 0px 50px; line-height: 50px; border-radius: 0px; font-size: 16px; font-weight: 400; color: #deb24d; transition: all 0.3s ease-in; text-transform: uppercase;}
.borderBtn:hover { color: #fff; background-color: #deb24d; }
.shadowImg img {box-shadow: -45px -45px 0px #f8f0db;}

section { padding: 100px 0px; }

h2 { font-size: 40px; font-weight: 600; color: #000000; padding: 0px; margin: 0 0 50px 0; position: relative; text-transform: uppercase;}
h2:before { width:  195px; height:  5px; position: absolute; left: -220px; top: 0px; bottom: 0px; content:  ''; margin:  auto; background-color: #d95353; }


/* AnimationForm
------------------------------------*/
form.AnimationForm .field {position:relative;box-sizing: border-box;margin-bottom: 20px;float: left;width: 100%;border-bottom: 2px solid #c4c4c2;}
form.AnimationForm .field:before {}
form.AnimationForm .field fieldset {position: absolute;top: 10px;left: 0px;color: #7f7f7f;font-size:  16px;font-weight: 400;transform: translate3d(0, 0, 0);transition: all 0.5s ease-in-out;z-index: 1;}
form.AnimationForm .field input, form.AnimationForm .field select, form.AnimationForm .field textarea {z-index: 111;position:relative;background: transparent;width: 100%;height: 42px;padding: 0px;margin: 0;font-size: 16px;font-weight: 500;color: #7f7f7f;}
form.AnimationForm .field input:faocus { outline: 0;}
form.AnimationForm .field fieldset.active{z-index: 999;top:-20px;color: #262261;}
form.AnimationForm .field.phone fieldset {left: 120px;}
form.AnimationForm .field.textarea textarea { height: 97px; resize: none;  }
form.AnimationForm .field.submit { background-color: transparent}
form.AnimationForm .field:nth-last-child(2):before { width: calc(90% - 0px ); }
/* AnimationForm
------------------------------------*/




/*-----CUSTOM CHECKBOX-------*/
.styled-checkbox {position: absolute;opacity: 0;}
.styled-checkbox + label {position: relative;cursor: pointer;padding: 0;font-size: 14px;font-weight: 400;color: #deb24d;}
.styled-checkbox + label:before {content: '';margin-right: 10px;display: inline-block;vertical-align: text-top;width: 20px;height: 20px;background: #555f7b;border: 1px solid #374156;}
/*.styled-checkbox:hover + label:before {background: #f35429;}*/
.styled-checkbox:focus + label:before {box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);}
.styled-checkbox:checked + label:before {background: #ffffff;}
.styled-checkbox:disabled + label {color: #b8b8b8;cursor: auto;}
.styled-checkbox:disabled + label:before {box-shadow: none;background: #ddd;}
.styled-checkbox:checked + label:after {content: '';position: absolute;left: 4px;top: 9px;background: url(../images/icon-check.png) center center no-repeat;width: 11px;height: 11px;}



.slick-dots {position: absolute;left: 60px;right: 0;bottom: 0px;margin: auto;display: flex;}
ul.slick-dots li {margin: 0 5px;}
ul.slick-dots li button {cursor: pointer;background-color: #ffb6b6;border-radius: 50%;width: 10px;height: 10px;/*border: 2px solid #ffffff;*/padding: 3px;font-size: 0;box-shadow: 0 0 0 1px #ffb6b6;}
ul.slick-dots li.slick-active button {background-color: #ffffff;box-shadow: 0 0 0 1px #ffffff;}

.header .row { min-height: 150px; padding-right: 150px; padding-left: 150px; }
.header .mainMenu {}
.header .mainMenu ul { display:  flex; justify-content: center; align-items: center; }
.header .mainMenu ul li { font-size: 15px; font-weight: 500; color: #4a4a4a; padding: 0px; margin: 0 15px; }
.header .mainMenu ul li a {color: #4a4a4a;padding: 5px 25px;border-radius: 5px;background-color: transparent;transition: 0.3s;}
.header .mainMenu ul li a:hover, .header .mainMenu ul li a.active {color: #ffffff; background-color: #d95353;  }
.header .banContact {color: #ffffff; background-color: #d95353; padding: 10px 25px;border-radius: 5px; transition: 0.3s; font-size: 15px; font-weight: 500; }
.header .banContact:hover { color: #4a4a4a; background-color: transparent; }

.banSec { padding: 0px; }
.banSec .row {padding-right: 150px;}
.banSec .banTxt { background-color: #d95353; min-height: 500px; /* min-width: 850px; */ min-width: 1000px; position: relative; z-index: 2; margin: 70px 0 0 -15px; padding: 0 60px;   }
.banSec .banTxt h1 { font-size: 55px; font-weight:  400; color: #ffffff; padding: 0px; margin: 0 0 30px 0; }
.banSec .banTxt h1 strong { font-size: 62px; display: block; }
.banSec .banTxt p { font-size: 18px; font-weight:  400; color: #ffffff; line-height:  26px; }
.banSec .banTxt a { display: block; color: #ffffff; text-decoration: underline; }
.banSec .banTxt a svg {width: 14px;margin-left: 8px;position: relative;top: 2px;}
.banSec .banTxt a svg path { fill: #fff;}
.banSec .banImg { position: relative; display: inline-block; }
.banSec .banImg:before { width: 110px; height: 110px; border: 2px solid #d95353; position: absolute; left: -55px; bottom: -55px; content: ''; display: block; z-index: -1;  }
.banSec .banImg a {position: absolute;right:  -55px;bottom: -55px;width:  115px;height:  115px;background-color: #d95353;text-align: center;padding-top: 50px;transition: 0.3s;}
.banSec .banImg a svg { width: 25px; }
.banSec .banImg a path { fill: #fff;}
.banSec .banImg a:hover { background-color: #c34a4a; }

.proSec { padding-top: 0; margin-top: 200px;}
.proSec .proBox { position: relative; }
.proSec figure h4 { font-size: 20px; font-weight: 600; color: #ffffff; padding: 0px; margin: 0px; text-transform: uppercase; position: absolute; left: 0; bottom: 0; background-color: #d95353; width: 100%; padding: 10px 25px; }
.proSec figure figcaption h3 { font-size: 20px; font-weight: 600; color: #ffffff; padding: 0px; margin: 0 0 30px; text-transform: uppercase; }
.proSec figure figcaption p {font-size: 15px; font-weight: 400; color: #ffffff; padding: 0px; margin: 0 0 30px; line-height: 28px; }
.proSec figure figcaption a {font-size: 15px; font-weight: 400; color: #ffffff; text-decoration: underline;}
.proSec figure figcaption a svg { width: 14px; margin-left: 8px; position: relative; top: 2px;}
.proSec figure figcaption a svg path { fill: #fff;}
.proSec figure figcaption a.video { position: absolute; right: 0; background-color: #f06868; padding: 5px 10px; text-decoration: none; bottom: 50px;}
.proSec figure { position: relative; overflow: hidden;}
.proSec figure figcaption { width: 100%; height: 100%; position: absolute; box-sizing: border-box; background-color: #d95353; padding: 30px; transition: 0.3s; top: 0; opacity: 0; visibility: hidden;}
.proSec figure:hover figcaption { opacity: 1; visibility: visible;}

.proSec .proImg { background-size: cover; min-height: 490px; background-repeat: no-repeat; background-position: center;}

.tabSec { padding-bottom: 0; }
.tabSec .shortInfo {}
.tabSec .shortInfo h3 { font-size: 27px; font-weight: 600; color: #000000; padding: 0px; margin: 0 0 40px; text-transform: uppercase;  }
.tabSec .shortInfo p { font-weight: 500; color: #818181; }
.tabSec .tabList {}
.tabSec .tabList ul {}
.tabSec .tabList ul li { font-size: 18px; font-weight: 500; color: #000000; padding: 0px; margin: 0px; line-height: 60px; border-bottom: 1px solid #e4e4e4; cursor: pointer; position: relative; }
.tabSec .tabList ul li i { transform: rotate(90deg); font-size: 30px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; height: 30px; transition: 0.3s; }
.tabSec .tabInfo { padding-left: 50px; min-height: 660px; }
.tabSec .tabInfo .tabDtl {    position: relative;}
.tabSec .tabInfo .tabDtl p { font-size: 17px; font-weight: 500; color: #818181; margin: 30px 0 0 0; }
.tabSec .tabInfo .tabDtl p:nth-child(2)  { margin-top: 40px; }


/* secFaq
------------------------------------*/
.secFaq { padding: 70px 0 80px; display: none; }
.secFaq h2 { text-align: left; }
.secFaq .faq {padding: 10px 10px 15px 0px;margin: 0;border-bottom: 1px solid #ccc;}
.secFaq .faq.last { border-bottom: 2px solid #334046; }
.secFaq .quest {font-weight: 600;font-size: 17px;position: relative;cursor: pointer;padding: 0px 0px 0px 0px;margin: 0px;color: #4d4d4d;}
.secFaq .quest:before {position: absolute;top: 0;right: 0px;display: block;content: "\f105";font-family: 'FontAwesome';font-size: 24px;bottom: 0;margin: auto;height: 20px;}

.secFaq .faq.active .quest:before {content: "\f107";color: #d95353;}
.secFaq .ans {border-top: 0;font-weight: 400;line-height: 28px;color: #000;padding: 0px 0 0px 0px;margin: 15px 0 0 0px;display: none;position: relative;}
.secFaq .ans p {font-weight: 400;font-size: 16px;margin: 30px 0 0 0;}
.secFaq .faqArea {  }
.secFaq .faqArea+.faqArea { margin-top: 100px; }
.secFaq .faqArea h3 { border-top: 5px solid #334046; padding: 10px 0 0; font-weight: 900; font-size: 24px; line-height: 30px; color: #334046; margin: 0 40px 0 0; }
.secFaq .faqArea h3 span { display: block; }
.secFaq .ans a { color: #fe6e03; text-decoration: none; }
.secFaq .ans a:hover { color: #ffffff; text-decoration: underline; }
.secFaq .faqHead { font-weight: 800; font-size: 36px; line-height: 42px; color: #334046; margin: 0 0 10px;}
.secFaq .faq.active h4 {color: #d95353;}




ul.tabs li.current{ color: #d95353;  }
.tab-content{ display: none; }
.tab-content.current{ display: inherit;}
ul.tabs li.current i { transform: rotate(0deg); }

.tabSec .tabInfo .tabDtl .tab_nav { position: absolute; left: -50px; top: 140px; font-size: 75px; cursor: pointer; background: transparent;}
.tabSec .tabInfo .tabDtl .tab_nav#next_right { left: inherit; right: -50px;}
.tabSec .tabInfo .tabDtl .tab_nav:hover { color: #d95353;}


.toolSec {}
.toolSec .toolBox {}
.toolSec .toolBox h4 { font-size: 24px; font-weight: 500; color: #000000; padding: 0px; margin: 50px 0 25px 0; }
.toolSec .toolBox p { font-size: 15px; font-weight: 400; color: #818181; padding: 0px; margin: 0 0 20px 0;     letter-spacing: -0.5px; }
.toolSec .toolBox a { display: block; color: #d95353; display: none; }
.toolSec .toolBox a svg { width: 14px; margin-left: 4px; position: relative; top: 2px;     transition: 0.8s;}
.toolSec .toolBox a:hover svg { margin-left: 15px; }
.toolSec .toolBox a:hover { text-decoration: underline; }
.toolSec .toolBox a svg path { fill: #d95353;}

.teamSec {}
.teamSec figure {}
.teamSec figure figcaption {}
.teamSec figure figcaption h3 { font-size: 26px; font-weight: 500; color: #ffffff; }
.teamSec figure figcaption p {font-size: 14px; font-weight: 400; color: #ffffff; line-height: 21px;}
.teamSec [class^='imghvr-'] figcaption,
.teamSec [class*=' imghvr-'] figcaption { padding: 30px 30px 30px 30px;}



.partSec {}
.partSec figure span { height: 130px; display: flex; justify-content: center; align-items: center;  border-radius: 10px; background-color: #fff; box-shadow: 0px 3px 60px 0px rgba(0, 0, 0, 0.06); }
.partSec figure h3 { font-size: 18px; font-weight: 600; color: #fff; }
.partSec figure h3 a { color: #fff; }
.partSec figure p { font-size: 13px; font-weight: 400; line-height: 18px; color: #ffffff; margin: 0; }
.partSec figure span img { border-radius: 10px; }


.partSec figure { position: relative; overflow: hidden;}
.partSec figure figcaption { width: 100%; height: 100%; position: absolute; box-sizing: border-box; background-color: #d95353; padding: 20px; transition: 0.3s; top: 0; opacity: 0; visibility: hidden; border-radius: 10px; }
.partSec figure:hover figcaption { opacity: 1; visibility: visible;}

.newSec {}
.newSec .newsBox {    margin-bottom: 50px; }
.newSec .newsBox img { display: block; padding-bottom: 30px; }
.newSec .newsBox h5 { color: #000000; font-size: 19px; margin: 25px 0; padding: 0px; }
.newSec .newsBox p { color: #de5555; font-size: 18px; margin: 0px; }
.newSec .newsBox a { color: #de5555; font-size: 16px; text-decoration: underline; }
.newSec .newsBox a svg { width: 14px; margin-left: 4px; position: relative; top: 2px; transition: 0.8s; }
.newSec .newsBox a:hover svg {margin-left: 12px;  }
.newSec .newsBox a:hover { text-decoration: none; }
.newSec .newsBox a svg path {    fill: #d95353;}


.footer { background-color: #de5555; padding-top: 100px; }
.footer h4 { font-size: 26px; font-weight: 600; color: #ffffff; padding: 0 0 20px 0; margin: 0 0 40px 0; position: relative; text-transform: uppercase; }
.footer h4:before { width: 140px; height: 1px; background-color: #fff; position: absolute; left:  0px; bottom: 0px; content:  ''; }
.footer p { font-size: 16px; font-weight: 400; color: #ffffff; padding: 0 0 0px 0; margin: 0 0 0px 0;}
.footer p.two { line-height:  40px; margin-top: 30px; }
.footer a {color: #ffffff; text-decoration: none; transition: 0.3s;}
.footer a:hover {color: #ffc9c9; }

.footer .fotLinks { margin-left: 150px; }
.footer .fotLinks h4 {}
.footer .fotLinks ul {display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap;}
.footer .fotLinks ul li { font-size: 16px; font-weight: 400; color: #ffffff; position: relative; padding: 0 0 0 20px; margin: 0;     width: 50%; }
.footer .fotLinks ul li:before { position: absolute; left: 0px; top: 14px; content: ''; width: 10px; height: 1px; background-color: #ffffff; transition: 0.3s; }
.footer .fotLinks ul li:hover:before { width: 20px; }
.footer .fotLinks ul li + li { margin-top: 15px; }
.footer .getTouch {    margin-left: 30px;}
.footer .getTouch .botForm {}
.footer .getTouch .botForm .field { margin-bottom: 20px; }
.footer .getTouch .botForm .field input[type="text"], .footer .getTouch .botForm .field input[type="email"], .footer .getTouch .botForm .field textarea { background: transparent; border-bottom: 1px solid #ffffff; resize: none; width: 100%; font-size: 15px; font-weight: 400; color: #ffffff; }
.footer .getTouch .botForm .field textarea { height: 80px; }
.footer .getTouch .botForm .field input[type="submit"] { background: url(assets/images/arrow_right.svg) right center no-repeat; background-size: 15px; font-size: 15px; font-weight: 400; color: #ffffff; border-bottom: 1px solid #ffffff; cursor: pointer; font-family: 'Poppins', sans-serif; padding: 0 25px 0 0;  }
.footer .getTouch .botForm .field ::placeholder { color: #ffffff; }
.footer .copyBor { border-top: 1px solid #ff8787; margin-top: 60px; padding: 15px 0px; }
.footer .copyBor p { font-size: 15px; text-transform: uppercase; }
.footer .socialList {}
.footer .socialList ul { display: flex; justify-content: flex-end; align-items: center; }
.footer .socialList ul li {}
.footer .socialList ul li + li { margin-left: 10px; }
.footer .socialList ul li a { border: 1px solid #ffffff; border-radius: 50%; width: 30px; height: 30px; display: block; text-align: center; }
.footer .socialList ul li a:hover { background-color: #38529a; border-color: #38529a; color: #fff; }
.footer .socialList ul li a.twitter:hover {background-color: #059aed; border-color: #059aed;}
.footer .socialList ul li a.linkedin:hover {background-color: #21567e; border-color: #21567e;}



.bounce { -moz-animation: bounce 3s infinite; -webkit-animation: bounce 3s infinite; animation: bounce 3s infinite; }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -moz-transform: translateY(0); transform: translateY(0);}
  40% { -moz-transform: translateY(-30px); transform: translateY(-30px);}
  60% { -moz-transform: translateY(-15px); transform: translateY(-15px);}
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -webkit-transform: translateY(0); transform: translateY(0);}
  40% { -webkit-transform: translateY(-30px); transform: translateY(-30px);}
  60% { -webkit-transform: translateY(-15px); transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { -moz-transform: translateY(0); -ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
  40% { -moz-transform: translateY(-30px); -ms-transform: translateY(-30px); -webkit-transform: translateY(-30px); transform: translateY(-30px);}
  60% { -moz-transform: translateY(-15px); -ms-transform: translateY(-15px); -webkit-transform: translateY(-15px); transform: translateY(-15px);}
}



.slick-prev.slick-arrow, .slick-next.slick-arrow {position: relative;font-size: 0;background: none;cursor: pointer;position: absolute;left: -50px;right: 0;bottom: -50px;margin: auto;z-index: 2;width: 35px;height: 35px;border: 1px solid #d95353;border-radius: 50%;}
.slick-prev.slick-arrow:before, .slick-next.slick-arrow:before {content: "\f104";font-family: 'FontAwesome';color: #d95353;font-size: 30px;position: absolute;left: 0;right: 0;top: 0;bottom: 0;}
.slick-next.slick-arrow:before { content: "\f105";}
.slick-next.slick-arrow {left: 0;right: -50px;}
.slick-prev.slick-arrow:hover:before, .slick-next.slick-arrow:hover:before { color: #999999; }





#nav-icon4 { display: none; width: 35px;height: 30px;position: absolute;margin: 0px auto;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .5s ease-in-out;-moz-transition: .5s ease-in-out;-o-transition: .5s ease-in-out;transition: .5s ease-in-out;cursor: pointer; right: 10px; top: 20px; z-index: 65; }
#nav-icon4 span {display: block;position: absolute;height: 4px;width: 100%;background: #d95353;border-radius: 0px;opacity: 1;left: 0;-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);-webkit-transition: .25s ease-in-out;-moz-transition: .25s ease-in-out;-o-transition: .25s ease-in-out;transition: .25s ease-in-out;}
#nav-icon4 {}
#nav-icon4 span:nth-child(1) { top: 0px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center;}
#nav-icon4 span:nth-child(2) {top: 12px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
#nav-icon4 span:nth-child(3) {top: 25px;-webkit-transform-origin: left center;-moz-transform-origin: left center;-o-transform-origin: left center;transform-origin: left center;}
#nav-icon4.open span:nth-child(1) {-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);top: 0px;left: 8px;}
#nav-icon4.open span:nth-child(2) { width: 0%; opacity: 0;}
#nav-icon4.open span:nth-child(3) {-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);top: 26px;left: 8px;}





.innerBan { background: url(assets/images/inner-banner.jpg) center center no-repeat; background-size: cover; min-height: 300px; padding: 0; display: flex; justify-content: center; align-items: center; text-align: center; position: relative;  }
.innerBan:before { content: ''; background-color: rgba(217,83,83,0.9); position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.innerBan h3 { font-size: 59px; font-weight: 700; color: #ffffff;     padding: 0px; margin: 0px; position: relative; text-transform: uppercase; z-index: 50;  }
.innerBan span  { position: absolute; left: 0; right: 0; text-align: center; bottom: 0px; -webkit-text-stroke: 1px rgba(255,255,255,0.2); color: transparent; z-index: -1; font-size: 85px;}


.newsImg { margin-right: 40px; }
.newsImg.rightImg { margin: 0 0 0 40px; }
.innerBan p { font-size: 20px; font-weight: 500; color: #f9f9f9; text-align: center }
.innerBan p a {color: #f9f9f9; text-transform: uppercase; font-weight: 500; margin: 0 10px; }


.newsTxtArea { padding-top: 30px; }
.newsTxtArea .date {}
.newsTxtArea .date a { color: #ffffff; background-color: #d95353; padding: 10px 25px;  border-radius: 5px; transition: 0.3s; font-size: 15px; font-weight: 500; }
.newsTxtArea .date a:hover { background-color: #c74949; }
.newsTxtArea h3 { font-size: 26px; font-weight: 600; color: #000000; padding: 30px 0; margin: 0; }

.newsTxtArea a.readMore { display: block; color: #d95353; text-decoration: underline;}
.newsTxtArea a.readMore svg { width: 14px; margin-left: 4px; position: relative; top: 2px; transition: 0.8s;}
.newsTxtArea a.readMore:hover svg { margin-left: 15px; }
.newsTxtArea a.readMore:hover { text-decoration: none; }
.newsTxtArea a.readMore svg path { fill: #d95353;}


.contSec {}
.contSec h2:before { left: 0; top: inherit; bottom: -15px; width: 120px; }
.contSec h2 { font-size: 30px; font-weight: 600; }
.contSec .field { margin: 60px 0 0 0; }
.contSec .field input[type="text"], .contSec .field input[type="email"], .contSec .field input[type="phone"], .contSec .field textarea { background: transparent; border-bottom: 1px solid #cdcdcd; font-size: 15px; font-weight: 500; color: #909090; padding: 5px 0;     width: 100%; }
.contSec .field textarea { resize: none; height: 150px;}
.contSec .field input[type="submit"] {color: #ffffff; background-color: #d95353; padding: 10px 25px; border-radius: 5px; transition: 0.3s; font-size: 15px; cursor: pointer; font-weight: 500; font-family: 'Poppins';}
.contSec .field input[type="submit"]:hover { background-color: #c74949; }
.contSec .field .wpcf7-form-control-wrap { width: 100%; }

.contSec .field.textarea .wpcf7-form-control-wrap { display: block; }



.contSec .contPageInfo { padding-left: 105px; }
.contSec .contPageInfo ul {}
.contSec .contPageInfo ul li { border-bottom: 1px solid #cdcdcd; padding: 0 0 40px 90px; position: relative;     margin: 30px 0 0 0; }
.contSec .contPageInfo ul li:last-child { border: 0; }
.contSec .contPageInfo ul li img { position: absolute; left: 0; top: 0; }
.contSec .contPageInfo ul li h4 {  font-size: 24px; font-weight: 700; color: #000000; padding: 0 0 15px; margin: 0;}
.contSec .contPageInfo ul li p { margin: 0 0 4px 0; padding: 0;}
.contSec .contPageInfo ul li p a {color: #818181;}
.contSec .contPageInfo ul li p a:hover {color: #cd2653;}
.contactLocatBg {background: url(assets/images/location-map.jpg) center top no-repeat; background-size: cover; min-height: 650px; }



.newsDetailSec .detailImg { margin: 0 0 50px 0px;}
.newsDetailSec .date { font-size: 18px; font-weight: 400; color: #de5555; padding: 0px; margin: 0 0 20px; }
.newsDetailSec .newsDtl h4 {  font-size: 22px; font-weight: 600; color: #000000; padding: 0px 0 20px 0px; margin: 0px;}
.newsDetailSec .newsDtl p {  font-size: 17px; font-weight: 400; color: #818181; padding: 0px 0 0px 0px; margin: 0 0 30px 0; }
.newsDetailSec .newsDtl h5 { font-size: 17px; font-weight: 400; color: #818181; padding: 10px 0 15px 30px; margin: 50px 0; line-height: 31px; border-left: 6px solid #d95353;  }
.newsDetailSec .newsDtl h6 { font-size: 20px; font-weight: 700; color: #090909; padding: 0px; margin: 0 0 30px 0; line-height: 31px; }
.newsDetailSec .newsDtl h6 span {color: #d95353; }


.newsDetailSec .newsDtl .newAuthorInfo { border-top: 1px solid #d2d2d2; border-bottom: 1px solid #d2d2d2; padding: 28px 0px; margin: 50px 0 0 0; }
.newsDetailSec .newsDtl .newAuthorInfo ul  { display: flex; justify-content: flex-start; align-items: center;}
.newsDetailSec .newsDtl .newAuthorInfo ul li { display: flex; align-items: center;}
.newsDetailSec .newsDtl .newAuthorInfo ul li:first-child { width: 60%; }
.newsDetailSec .newsDtl .newAuthorInfo ul li h3 {font-size: 20px; font-weight: 700; color: #d95353; padding: 0px; margin: 0 0 0px 0; line-height: 31px;}
.newsDetailSec .newsDtl .newAuthorInfo ul li h3 span { color: #353535; display: block; font-size: 14px; font-weight: 400; }
.newsDetailSec .newsDtl .newAuthorInfo ul li h3 span a { color: #353535; }
.newsDetailSec .newsDtl .newAuthorInfo ul li h3 span a:hover { color: #d95353; }
.newsDetailSec .newsDtl .newAuthorInfo ul li img { border-radius: 50%; float: left; margin-right: 25px; }

.newsDetailSec .newsDtl .newAuthorInfo ul li:last-child { margin-left: auto; }
.newsDetailSec .newsDtl .newAuthorInfo ul li:last-child a { color: #de5555; font-size: 25px; margin: 0 5px; }
.newsDetailSec .newsDtl .newAuthorInfo ul li:last-child a:hover { color: #000000; }
.newsDetailSec .newsDtl .newAuthorInfo ul li h6 { padding: 0; margin: 0 20px 0 0; }


.blogSideBar { padding: 0 0 0 0;}
.blogSideBar h2 { font-size: 30px;  font-weight: 600; }
.blogSideBar h2:before { left: 0; top: inherit; bottom: -15px; width: 95px; }
.blogSideBar .searchBg {border: 1px solid #c4c4c4;padding: 7px;display: flex;justify-content: flex-start;align-items: center; margin: 0 0 70px 0px;}
.blogSideBar .searchBg input[type="text"] { background: transparent; max-width: 70%; }
.blogSideBar .searchBg input[type="submit"] { width: 42px; height: 45px; margin-left: auto; background: #d95353 url(assets/images/search-icon.png) center center no-repeat; cursor: pointer; transition: 0.3s;}
.blogSideBar .searchBg input[type="submit"]:hover { opacity: 0.8; }
.blogSideBar .recentArea { margin: 0 0 80px 0;}
.blogSideBar .recentArea ul {}
.blogSideBar .recentArea ul li {border-bottom: 1px solid #d2d2d2;padding: 30px 0;}
.blogSideBar .recentArea ul li:last-child { border: 0px;}
.blogSideBar .recentArea ul li h5 { font-size: 18px; }
.blogSideBar .recentArea ul li h5 a {}
.blogSideBar .recentArea ul li h4 { font-size: 19px; font-weight: 500; color: #000000; line-height: 30px; margin: 20px 0; }

.blogSideBar .catArea {}
.blogSideBar .catArea a {font-size: 17px; font-weight: 400; color: #000000; display: block; margin-bottom: 20px;     transition: 0.3s; }
.blogSideBar .catArea a svg  { width: 18px; margin-left: 4px; position: relative; top: 2px; transition: 0.8s; margin: 0 15px 0 0;}
.blogSideBar .catArea a svg path { fill: #d95353;}
.blogSideBar .catArea a:hover { color: #cd2653; }


.blogSideBar a.readMore { display: block; color: #d95353; text-decoration: underline;}
.blogSideBar a.readMore svg { width: 14px; margin-left: 4px; position: relative; top: 2px; transition: 0.8s;}
.blogSideBar a.readMore:hover svg { margin-left: 15px; }
.blogSideBar a.readMore:hover { text-decoration: none; }
.blogSideBar a.readMore svg path { fill: #d95353;}


.proServSec h2 { font-size: 95px; text-transform: capitalize; text-align: center; margin-bottom: 70px; }
.proServSec h2:before { left: 0px;}
.blueTopBg .row:nth-child(2) { flex-direction: row-reverse; }
.proServSec.blueTopBg [class*="col-"] { padding-right: 0; padding-left: 0; }

.proServSec .proTxt{ padding: 0 50px;}
.proServSec .proTxt h2 { font-size: 32px; text-transform: capitalize; text-align: left;     margin-bottom: 50px; }
.proServSec .proTxt h2:before { left: -220px;}


.proServSec.bgImg { background: url(assets/images/survay-stack-img2.jpg) right center no-repeat; margin-top: -100px;     padding: 0; }
.proServSec.bgImg .row { min-height: 778px; }



.blueTopBg { position: relative; }
.blueTopBg:before { width: 715px; height: 700px; background-color: #f2f6f9; position: absolute; left: 0px; top: 0px; content: ''; }


.botBg { position: relative; }
.botBg:before { width: 100%; height: 520px; background-color: #f2f6f9; position: absolute; left: 0px; bottom: 0px; content: ''; }

.proServSec.bgImg .proImg { display: none; }



.error404 .header { border-bottom: 1px solid #d95353; }
.notFoundSec .notFoundTxt {    text-align: center;}
.notFoundSec .notFoundTxt h3 { font-size: 200px; font-weight: 700; color: #d95353;}
.notFoundSec .notFoundTxt h4 { padding: 20px 0 0 0; text-transform: uppercase; font-size: 24px; font-weight: 600; color: #333333; }
.notFoundSec .notFoundTxt p {color: #333333;}



/* Responsive
------------------------------------*/
@media only screen and (max-width: 1700px){
.banSec .banTxt { min-height: 450px; margin: 50px 0 0 -15px; }



}


@media only screen and (max-width: 1366px){
    .header .row { padding-right: 60px; padding-left: 60px; }
    
.banSec .banTxt h1 { font-size: 45px; margin: 0 0 20px 0; }
.banSec .banTxt h1 strong { font-size: 45px; }
.banSec .banTxt { min-height: 400px; min-width: 800px; margin: 40px 0 0 -15px; padding: 0 30px; }
.banSec .row { padding-right: 60px; }
.banSec .banTxt p {line-height: 26px; margin: 0 0 10px 0; font-size: 16px; }

.slick-dots { left: 30px; bottom: 10px; justify-content: center; }

.proSec figure figcaption h3, .proSec figure h4 { font-size: 20px;}

.tabSec .shortInfo h3 { font-size: 22px; }
.tabSec .tabList ul li { font-size: 15px; }
    
.toolSec .toolBox h4 { font-size: 20px; margin: 30px 0 15px 0}

.toolSec .toolBox p {font-size: 18px;}
.teamSec [class^='imghvr-'] figcaption, .teamSec [class*=' imghvr-'] figcaption { padding: 30px 10px 30px 20px; }
.teamSec figure figcaption h3 { font-size: 20px; }

.partSec figure figcaption { padding: 20px 15px; position: relative; opacity: 1; visibility: visible; background: transparent; text-align: center; }
.partSec figure h3 { font-size: 22px; color: #d95353; padding: 20px 0 15px 0 }
.partSec figure p { font-size: 18px; font-weight: 400; color: #767676; line-height: normal; margin: 0; }


.proServSec.bgImg .proImg { display: none; }
.proServSec.bgImg {     margin-top: 0; background-size: 50%; }


    
    }
@media (min-width:1170px) and (max-width: 1281px) {}
@media (min-width:1000px) and (max-width: 1169px) {
section { padding: 50px 0px; }

.header .banContact { padding: 10px 15px; }  

.banSec .banTxt { min-height: 400px; min-width: 650px; margin: 20px 0 0 -15px; padding: 0 15px; }
.banSec .banImg a { right: -45px; bottom: -45px; width: 90px; height: 90px; padding-top: 30px; }

.banSec .banTxt h1 { font-size: 30px;  }
.banSec .banTxt h1 strong { font-size: 35px; }
.proSec { margin-top: 130px; }

.header .mainMenu ul li { margin: 0 10px;}



.partSec figure h3 { font-size: 17px; padding: 10px 0 10px 0; }
.partSec figure p { font-size: 15px; }
.newSec .newsBox h5 { font-size: 16px; margin: 15px 0; }


.footer { padding-top: 50px; }


.footer { padding-top: 50px; }
.footer .getTouch { margin-left: 0px; margin-top: 30px; }
.footer h4 { font-size: 20px; padding: 0 0 10px 0; margin: 0 0 10px 0; }
.footer p { font-size: 14px; line-height: 24px; }
.footer p.two { line-height: 24px; margin-top: 15px; }
.footer .fotLinks ul li { font-size: 16px; padding: 0 0 0 0px; }
.footer .fotLinks ul li + li { margin-top: 2px; }
.footer .fotLinks ul li:before { display: none; }
.footer .copyBor { margin-top: 20px; }




.newsTxtArea { padding-top: 0; }
.newsTxtArea h3 { font-size: 22px; padding: 20px 0; }
.newSec { padding: 20px 0px; }

.newsImg,
.newsImg.rightImg { margin: 0; }

.innerBan h3 { font-size: 45px; }
.innerBan span { font-size: 75px; }
.innerBan p { font-size: 16px; }


.blogSideBar .searchBg {    margin: 0 0 50px 0px;}
.blogSideBar h2 { font-size: 24px;     margin: 0 0 30px 0; }
.blogSideBar .recentArea ul li { padding: 20px 0;}
.blogSideBar .recentArea ul li h4 { font-size: 16px; margin: 10px 0; }
.blogSideBar .recentArea { margin: 0 0 50px 0; }

.newsDetailSec .newsDtl h6 br { display: none; }


.proServSec h2 { font-size: 55px; margin-bottom: 40px; }
.proServSec h2:before { left: 50px; }




.proServSec.bgImg .proImg { display: none; }
.proServSec.bgImg {     margin-top: 0; background-size: 50%; }



.contSec .contPageInfo { padding-left: 40px; }
.contSec .contPageInfo ul li {padding: 0 0 15px 60px; margin: 25px 0 0 0; }
.contSec .field { margin: 50px 0 0 0; }
.contSec .contPageInfo ul li img { width: 35px; }
.contactLocatBg { min-height: 500px; }


.proSec figure figcaption { padding: 30px 20px;}
.proSec figure figcaption p {line-height: 26px;}
.partSec figure h3 a { color: #cd2653; }


.teamSec figure figcaption:before {    content: '';
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(217,83,83,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(217,83,83,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(217,83,83,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d95353',GradientType=0 ); }
    
.teamSec figure figcaption p { height: 100%; overflow-x: scroll; padding-bottom: 50px; }




}
@media (min-width: 768px) and (max-width: 999px) {
section { padding: 50px 0px; }
 h2 { font-size: 30px; margin: 0 0 25px 0; }
.header .mainMenu ul li { margin: 0 5px;}
.header .mainMenu ul li a { padding: 5px 10px; }    
.header .banContact {padding: 3px 5px; font-size: 11.5px;}
.header .row { padding: 20px 30px; min-height: 100px; }

.header .banContact { padding: 10px 10px; }

.banSec .banTxt { margin-top: 0px}

.banSec .banTxt h1 { font-size: 22px; margin: 0 0 15px 0; }
.banSec .banTxt h1 strong { font-size: 26px; }
.banSec .banTxt { min-height: inherit; min-width: inherit; margin: -50px 0 0 0px; padding: 30px 25px 50px;     text-align: center; }
.banSec .row { padding-right: 0; flex-direction: column-reverse; }
.banSec .banTxt p { font-size: 16px; line-height: 25px; overflow: hidden; height: 72px; }
.banSec .banImg { margin-right: -15px; margin-left: -15px; }    

.proSec { padding-top: 0; margin-top: 80px; }
.proSec .proImg {min-height: 300px; }
.proSec figure figcaption h3, .proSec figure h4 { font-size: 17px; margin: 0 0 10px; }
.proSec figure h4  {bottom: -10px;}
.proSec figure figcaption { padding: 15px; }
.proSec figure figcaption:before { content: ''; width: 100%; height: 100px; position: absolute; left: 0; right: 0; bottom: 0; z-index: 1;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(217,83,83,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(217,83,83,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(217,83,83,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d95353',GradientType=0 ); }


.proSec figure figcaption p { font-size: 14px; margin: 0 0 15px; line-height: 22px; overflow-x: scroll;
    height: 100%; padding-bottom: 80px; }
.proSec figure figcaption a.video {bottom: 30px;     display: none;}

.toolSec .toolBox p { font-size: 16px; line-height: 24px; }
.teamSec figure { margin-bottom: 20px; }
.newSec .newsBox h5 { font-size: 16px;     margin: 10px 0;}
.newSec .newsBox p { font-size: 16px;}

.banSec .banImg a, .banSec .banImg:before { display: none; }


.footer { padding-top: 50px; }
.footer .fotLinks { margin-left: 0px; }
.footer .getTouch { margin-left: 0px; margin-top: 0px; }
.footer h4 { font-size: 20px; padding: 0 0 10px 0; margin: 0 0 10px 0; }
.footer p { font-size: 14px; line-height: 24px; }
.footer p.two { line-height: 24px; margin-top: 15px; }
.footer .fotLinks ul li { font-size: 16px; padding: 0 0 0 0px; }
.footer .fotLinks ul li + li { margin-top: 2px; }
.footer .fotLinks ul li:before { display: none; }
.footer .copyBor { margin-top: 20px; }

.secFaq { display: block; background-color: #ffffff; padding: 30px 0 50px; } 
.tabSec { display: none; }



.footer .getTouch .botForm .field input[type="text"], .footer .getTouch .botForm .field input[type="email"], .footer .getTouch .botForm .field textarea {    border-bottom: 1px solid #ef6f6f;}


.innerBan h3 { font-size: 40px; }
.innerBan span { font-size: 70px; }
.innerBan p { font-size: 16px; }

.newsImg { margin-right: 0; text-align: center; }
.newsImg.rightImg { margin: 20px 0 0 0; }
.mobColRecerse {flex-direction: column-reverse;}


.blogSideBar .searchBg {margin: 0 0 25px 0px;}
.blogSideBar .recentArea ul li { padding: 12px 0; }
.blogSideBar .recentArea { margin: 0 0 25px 0; }
.blogSideBar .recentArea ul li h4 { font-size: 16px; line-height: 20px; margin: 0px 0; }
.blogSideBar .catArea a { font-size: 16px; margin-bottom: 6px; min-width: 48%; display: inline-block; }
.blogSideBar .catArea { margin-bottom: 25px; }



/* .proServSec h2 { font-size: 40px; }
.proServSec h2:before { width: 150px; } */

.blueTopBg:before { width: 70%; height: 500px; }


.proServSec.bgImg { background: none; }
.proServSec.bgImg .proImg  { display: block; }

.proServSec .proTxt h2 { font-size: 30px; margin-bottom: 15px;     padding-bottom: 20px; }


.contSec .contPageInfo { padding-left: 20px; }
.contSec .contPageInfo ul li {padding: 0 0 15px 60px; margin: 25px 0 0 0; }
.contSec .field { margin: 30px 0 0 0; }
.contactLocatBg { min-height: 500px; }

.proServSec h2 {font-size: 40px;
    padding-bottom: 25px;
    margin-bottom: 40px;}
.proServSec h2:before { width: 150px; right: 0; top: inherit; bottom: 0;}
.proServSec .proTxt { padding: 0 15px; }
.proServSec .proTxt h2:before { left: 0px; top: inherit; right: inherit; bottom: 0; }
    
    
.newsPageSec { margin: 50px 0px;}

.partSec figure h3 a { color: #cd2653; }



    
}
@media (max-width: 767px) {
p {margin: 0 0 20px 0; line-height: 25px; font-size: 16px;}
h2 { font-size: 28px; margin: 0 0 25px 0; padding-left: 80px; }
h2:before { width: 70px; left: 0px; }
.logo img { width: 70px; }

section { padding: 25px 0px; }
.slick-dots { left: 0px; bottom: 0px; }
.header .row { min-height: inherit; padding: 15px; }
.banSec .banTxt h1 { font-size: 22px; margin: 0 0 15px 0; }
.banSec .banTxt h1 strong { font-size: 26px; }
.banSec .banTxt { min-height: inherit; min-width: inherit; margin: -50px 0 0 0px; padding: 30px 25px 50px;     text-align: center; }
.banSec .row { padding-right: 0; flex-direction: column-reverse; }
.banSec .banTxt p { font-size: 16px; line-height: 25px; overflow: hidden; height: 72px; }
.banSec .banImg { margin-right: -15px; margin-left: -15px; }




.proSec { margin-top: 50px; }
.proSec figure { box-shadow: -3px 2px 49px 0px rgba(0, 0, 0, 0.05); }
.proSec figure h4 { font-size: 22px; padding: 12px 20px; bottom: inherit; top: 301px; background-color: rgba(217,83,83,0.9); text-align: center;}
.proSec figure figcaption { padding: 30px 15px 15px 15px; top: 0; opacity: 1; visibility: visible; position: relative; background-color: #fff; text-align: center;}
.proSec figure figcaption p { color: #818181; font-size: 16px; margin-bottom: 20px; }

.proSec .proImg { min-height: 350px; }
.proSec figure figcaption a { color: #d95353; font-size: 16px; }
.proSec figure figcaption a svg path { fill: #d95353; }



.proSec figure figcaption a.video { left: 0; top: -350px; bottom: 265px; font-size: 0; display: flex; justify-content: center; align-items: center; background-color: #f06868e0; height: 301px;}
.proSec figure figcaption a svg path { fill: #fff; }

.proSec figure figcaption a svg path { fill: #d95353; }
.proSec figure figcaption a.video svg { width: 80px; }
.proSec figure figcaption a.video svg path { fill: #ffffff; }



.tabSec .shortInfo h3 { font-size: 22px; margin: 0 0 20px; }
.tabSec .tabList ul li { font-size: 15px; line-height: 50px; }
.tabSec .tabInfo { padding-left: 0; min-height: inherit; }
.tabSec .tabInfo .tabDtl p:nth-child(2) { margin-top: 15px; font-size: 15px; }


.toolSec .toolBox h4 { font-size: 22px; margin: 30px 0 15px; }
.toolSec h2 { margin: 0px; }
.toolSec .toolBox {margin-top: 25px; padding: 20px; background-color: #fff; text-align: center; box-shadow: -3px 2px 49px 0px rgba(0, 0, 0, 0.05); }



.teamSec figure { background-color: #ffffff; padding: 20px; width: 100%; text-align: center; box-shadow: -3px 2px 49px 0px rgba(0, 0, 0, 0.05); }
.teamSec figure img { display: block; margin: 0 auto; }
.teamSec [class^='imghvr-'] figcaption, .teamSec [class*=' imghvr-'] figcaption { padding: 20px 15px 20px 15px; transform: translateY(0); position: relative; background-color: transparent; }
.teamSec figure figcaption h3 { font-size: 22px; color: #d95353; }
.teamSec figure figcaption p { font-size: 16px; font-weight: 400; color: #767676; line-height: normal; }


.partSec { padding-top: 60px; }


.newSec {padding: 0px 0px 25px;}
.newSec h2 { margin: 0px; }
.newSec .newsBox { margin-top: 25px; background-color: #ffffff; padding: 20px; text-align: center;     box-shadow: -3px 2px 49px 0px rgba(0, 0, 0, 0.05); }
.newSec .newsBox img { padding-bottom: 10px; margin: 0 auto; }
.newSec .newsBox h5 { font-size: 18px; margin: 10px 0; }
.newSec .newsBox p { margin: 8px 0 0 0; }


.footer { padding-top: 30px; }
.footer h4 { font-size: 20px; padding: 0 0 10px 0; margin: 0 0 10px 0;     text-transform: capitalize;}
.footer .fotLinks,
.footer .getTouch { margin-left: 0; margin-top: 0px; }
.footer .fotLinks ul li { width: 100%;}
.footer .fotLinks ul li + li { margin-top: 0px; }


.header .banContact, .banSec .banImg a, .banSec .banImg:before, .tabSec .tabInfo .tabDtl .tab_nav, .proSec figure figcaption h3, .tabSec
{ display: none; }


.footer p, .footer .fotLinks ul, .footer .getTouch .botForm { display: none; }
.footer h4:before { width: 100%; background-color: #ff7b7b; }
.footer h4:after { position: absolute; right: 0px; top: 0px; content: '\f107'; font-family: 'FontAwesome'; color: #ffffff; font-size: 24px; transition: 0.3s; }
.footer h4.active:after { content: '\f106'; }
.footer .copyBor p { display: block; text-align: center; }
.footer .socialList ul { justify-content: center; padding-top: 10px; }
.footer .getTouch h4:before { display: none;}


a.logo, #nav-icon4 {  display: block; }
header.header .mainMenu {transition: 0.3s;height: 0;margin: 0;height: 0;}
header.header .mainMenu {position: fixed;left: 0;right: 0;top: 0;bottom: 0;width: 100%;height: 0;z-index: 10;background-color: #d95353;overflow: hidden;z-index: 60;}
header.header .mainMenu.activeMenu { height:  100%; padding-top: 80px; }
header.header .mainMenu ul { justify-content: flex-start; align-items: flex-start; flex-wrap: wrap; flex-direction: column;}
header.header .mainMenu ul li {font-size: 16px;font-weight: 500;color: #ffffff;margin: 0;line-height: 35px;padding: 0 20px;width: 100%;border-bottom: 1px solid #e26060;}
#nav-icon4.open span { background-color: #ffffff; }
.header .mainMenu ul li a { color: #ffffff; }

.header .mainMenu ul li ul {    background-color: transparent; transform: translate3d(0,0px,0); position: relative; left: 0; top: 0; min-width: 100%; width: 100%; visibility: visible; opacity: 1; }
.header .mainMenu ul li ul li {font-size: 18px;color: #ffffff;position: relative;padding: 0;margin: 0;border-bottom: 1px solid #e26060;line-height: 35px;}
.header .mainMenu ul li ul li a { color: #ffffff; }
.header .mainMenu ul li a:hover { color: #ffffff; }







.footer .copyBor {margin-top: 30px; }
.secFaq { display: block; background-color: #ffffff; padding: 30px 0 50px; } 
.footer .getTouch .botForm .field input[type="text"], .footer .getTouch .botForm .field input[type="email"], .footer .getTouch .botForm .field textarea {    border-bottom: 1px solid #ef6f6f;}




.innerBan {min-height: 200px;}
.innerBan h3 { font-size: 25px; }
.innerBan span { font-size: 40px; }
.innerBan p { font-size: 16px; }
.innerBan p a { margin: 0 5px; }

.newsImg { margin-right: 0; }
.newsTxtArea h3 { font-size: 20px; padding: 20px 0; }
.newsImg.rightImg { margin: 0; }


.mobColRecerse {flex-direction: column-reverse;}


.blogSideBar h2 { padding-left: 0px; font-size: 22px; }
.blogSideBar h2:before { bottom: -12px; width: 60px; height: 3px; }
.blogSideBar .searchBg {margin: 0 0 25px 0px;}
.blogSideBar .recentArea ul li { padding: 12px 0; }
.blogSideBar .recentArea { margin: 0 0 25px 0; }
.blogSideBar .recentArea ul li h4 { font-size: 16px; line-height: 20px; margin: 0px 0; }
.blogSideBar .catArea a { font-size: 16px; margin-bottom: 6px; min-width: 48%; display: inline-block; }
.blogSideBar .catArea { margin-bottom: 25px; }

.newsDetailSec .detailImg { margin: 0 0 20px 0px; }
.newsDetailSec .newsDtl h4 { font-size: 20px; padding: 0px 0 10px 0px; }
.newsDetailSec .newsDtl p { font-size: 16px; margin: 0 0 20px 0; }

.newsDetailSec .newsDtl h5 { font-size: 16px; padding: 5px 0 5px 20px; margin: 20px 0; line-height: 26px; border-left: 3px solid #d95353; }
.newsDetailSec .newsDtl h6 { font-size: 18px;margin: 0 0 20px 0; line-height: 28px; }

.newsDetailSec .newsDtl .newAuthorInfo ul { align-items: flex-start; flex-direction: column; }
.newsDetailSec .newsDtl .newAuthorInfo ul li:first-child { width: 100%; }
.newsDetailSec .newsDtl .newAuthorInfo ul li:last-child { margin: auto; }

.newsDetailSec .newsDtl h6 br { display: none; }
.newsDetailSec .newsDtl .newAuthorInfo ul li h3 { font-size: 16px; line-height: 22px; }


.proServSec h2 { font-size: 30px; margin-bottom: 35px; padding: 0 0 20px 0; }
.proServSec h2:before { left: 0; right: 0;top: inherit; }
.proTxt { padding: 25px 0; }
.blueTopBg:before { width: 60%; height: 500px; }

.proServSec.bgImg { margin: 0px;}
.proServSec.bgImg .row { min-height: auto; }
.proServSec .proTxt h2 { font-size: 22px; margin-bottom: 15px; text-align: center; }
.proServSec .proTxt h2:before { left: 0; }
.proServSec .proTxt p { text-align: center; }
.botBg:before { height: 300px; }


.proServSec.bgImg { background: none; }
.proServSec.bgImg .proImg { display: block; }
.proServSec.bgImg .row { flex-direction: column-reverse; }


.contSec { padding: 50px 0px; }
.contSec h2 { padding: 0; text-align: center; font-size: 25px; }
.contSec h2:before { left: 0; right: 0; width: 70px; }
.contSec .field { margin: 30px 0 0 0; }
.contSec .contPageInfo { padding: 50px 0 0 0; }
.contSec .contPageInfo ul li { padding: 0 0 20px 50px; margin: 20px 0 0 0; }
.contSec .contPageInfo ul li h4 { font-size: 20px; padding: 0 0 0px; }
.contSec .field input[type="submit"] {margin: 0 auto; display: block;}
.contSec .contPageInfo ul li img { width: 25px; }
.contactLocatBg { min-height: 350px; }


.proServSec .proTxt { padding: 30px; }


.newsPageSec { margin: 50px 0px;}



.partSec .slick-prev.slick-arrow, .partSec .slick-next.slick-arrow { bottom: -20px; }
.partSec figure h3 a { color: #cd2653; }

}
@media (max-width: 320px) {}